.product-details{
    margin: 3% 0 0 0;
}

.product-details hr{
    margin: 5% 0 0 0;
}

.product {
    display: flex;
    align-items: center;
}

.details{
    flex-direction: column;
    margin: 2% 0 0 0;
}

.details table{
    margin: 0;
    padding-top: 0;
}

.details hr{
    margin: 0 0 0 0;
}

.details form table{
    width: 100%;
}

.details form table th{
    width: 27%;
}

.details form table td{
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2% 2% 2% 0;
}

.details form input{
    width: 15%;
    font-size: 1rem;
    color: var(--tertiary);
    border: 1px solid var(--tertiary);
    border-radius: 5px;
    padding: 1.5%;
}

.details form span{
    width: 13%;
    margin: 2% 0 2% 2%;
}

.details form table button{
    width: 16%; 
    font-family: var(--playfair);
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: var(--secondary);
    background-color: var(--tertiary);
    padding: 1.5%;
    cursor: pointer;
}

.address-width{
    width: 50%;
}

#address{
    text-align: center;
}

#actions-wrapper{
    display: flex;
    width: 100%;
}

#actions-wrapper button{
    width: 30%;
    margin: 0 2%;
}

#sold{
    background-color: var(--supportive);
    transition: all .2s;
}

#update{
    transition: all .2s;
}

#sold:hover, #update:hover{    letter-spacing: 2px;}