.product-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.product{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40%;
    width: 100%;
}

.image{
    height: 100%;
    width: 20%;    
    display: flex;
    justify-content: center;
    background: transparent;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.image img{
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    object-fit: cover;
}

.details{
    height: auto;
    width: 70%;
    display: flex;
    font-family: var(--roboto);
}

.details table{
    width: 100%;
    height: 10%;
    font-size: 1.3rem;
    text-align: left;
    margin: 5% 0 0 0;
}

.details table th{
    width: 20%;
    padding: 2%;
}

.details table td{
    width: 20%;
    padding: 2%;
}

.details table td p{
    font-size: 1.1rem;
}